body {
  overflow-x: hidden;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

p {
  line-height: 1.75;
}

a {
  color: #dc1442;
}

a:hover {
  color: #ad1034;
}

.text-primary {
  color: #dc1442 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  section {
    padding: 50px 0;
  }
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.white-text {
  color: #fff;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.bg-primary {
  background-color: #dc1442 !important;
}

.btn-primary {
  background-color: #dc1442;
  border-color: #dc1442;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  background-color: #b91137 !important;
  border-color: #b91137 !important;
  color: white;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #dc1442;
  text-shadow: none;
}

::selection {
  background: #dc1442;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

@font-face {
  font-family: 'myFont';
  src: url("../fonts/Brandon_reg.otf") format("opentype");
}

.bg-white {
  background-color: #fff;
}

.bg-gray {
  background-color: #f3f3f3;
}

#mainNav {
  background-color: #1c1517;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #dc1442;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #dc1442;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  direction: none;
  height: 40px;
  min-width: 200px;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #ad1034;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: white;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #dc1442;
}

#mainNav.navbar-shrink {
  background-color: #1c1517;
}

#mainNav.navbar-shrink .navbar-brand {
  display: block;
  background: url(../img/logo-acronym-white.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left center;
}

@media (max-width: 992px) {
  #mainNav .navbar-brand {
    background-position: left center;
  }
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    display: none;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
  }
  #mainNav.navbar-shrink .navbar-brand {
    display: block;
    font-size: 1.25em;
    padding: 12px 0;
  }
  #mainNav.navbar-shrink .nav-item .nav-link {
    color: white;
  }
}

header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(rgba(219, 27, 68, 0.25), rgba(0, 0, 0, 0.15)), url("../img/header-bg-darker.png");
  background-color: #000;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 800px;
}

header.masthead .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}

header.masthead .intro-text .intro-subtitle {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 0;
}

header.masthead .intro-text .intro-subtitle p {
  color: white;
  opacity: 0.75;
  font-family: 'myFont', Arial, sans-serif;
  font-weight: 200;
  margin-bottom: 0;
}

header.masthead .intro-text .intro-subtitle p.strong {
  font-weight: 700;
}

header.masthead .intro-text .intro-subtitle p.overlay {
  background: #dc1442;
  font-weight: 500;
  margin-bottom: 50px;
  opacity: 1;
}

header.masthead .header-logo {
  display: block;
  background-position: center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

header.masthead #btn-inscription {
  margin-top: 20px;
}

@media (max-width: 768px) {
  .header-logo {
    background: url("../img/logo-square.png");
    min-height: 300px;
    max-height: 300px;
  }
  .intro-text p {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
  .header-logo {
    background: url("../img/logo-full-text-white.png");
    min-height: 200px;
    max-height: 200px;
  }
}

#about {
  background-color: #212529;
}

#about h2, #about p {
  color: #fff;
}

#about p {
  font-weight: 300;
}

#about .logo {
  background: #212529 url(../img/logo-white.png) no-repeat;
  display: block;
  background-size: auto 100%;
  min-height: 200px;
  width: 100%;
}

@media (min-width: 768px) {
  #about .logo {
    background-position: right center;
  }
}

@media (max-width: 768px) {
  #about .logo {
    display: none;
  }
}

section#interfacultaire {
  padding-top: 0;
  padding-bottom: 20px;
}

section#interfacultaire .faculties {
  margin-bottom: 15px;
}

#conferences p {
  font-weight: 300;
}

#conferences .profile-picture {
  display: inline-block;
  height: 200px;
  width: 100%;
  background-size: auto 100%;
  text-align: right;
}

#conferences .kim-thuy {
  background: #212529 url(../img/conferenciers/kim-thuy.png) no-repeat center center;
}

#conferences .joe-belliveau {
  background: #212529 url(../img/conferenciers/joe-belliveau.png) no-repeat center center;
}

#conferences .row {
  margin-bottom: 30px;
}

#conferences .subtitle {
  font-family: 'myFont', Arial, sans-serif;
}

@media (max-width: 768px) {
  .profile-picture {
    min-height: 270px;
  }
  #conferences {
    padding-top: 30px;
  }
}

@media (min-width: 768px) {
  .profile-picture {
    margin-right: 50px;
  }
  .profile-picture img {
    float: right !important;
  }
}

#ateliers .heading {
  margin-bottom: 30px;
}

#ateliers .media {
  margin-bottom: 30px;
}

#ateliers .subtitle {
  font-family: 'myFont', Arial, sans-serif;
  font-weight: 200;
}

#ateliers .strong {
  font-weight: 700;
  color: #333;
}

#horaire .heading {
  color: white;
}

#horaire .heading h2 {
  margin-bottom: 50px;
}

#horaire .subtitle {
  display: inline-block;
  padding: 0 10px;
  border: 2px solid #fff;
  width: 100%;
}

#horaire p {
  color: white;
  font-weight: 200;
}

#horaire p.time {
  text-align: right;
  opacity: 0.6;
  font-weight: 400;
}

#horaire p.activity {
  letter-spacing: 1px;
}

#horaire p strong {
  font-weight: 700;
}

@media (max-width: 768px) {
  #horaire p.time, #horaire p.activity {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  #horaire .schedule-item {
    margin-bottom: 25px;
  }
}

#sponsors {
  padding-bottom: 30px;
}

#sponsors .sponsor-item {
  padding-bottom: 40px;
}

section#contact {
  background-color: #212529;
  background-image: url("../img/map-image.png");
  background-repeat: no-repeat;
  background-position: center;
}

section#contact a {
  color: #fff;
}

section#contact .social-link {
  padding-bottom: 40px;
}

section#contact i {
  color: #fff;
}

section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #dc1442;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 25px 0;
  text-align: center;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #dc1442;
}
