#about {
  background-color: $gray-900;
  h2, p {
    color: #fff;
  }
  p {
    font-weight: 300;
  }
  .logo {
    background: $gray-900 url(../img/logo-white.png) no-repeat;
    display: block;
    // width: 200px;
    // height: 100%;
    background-size: auto 100%;
    min-height: 200px;
    width: 100%;
  }
}
@media(min-width:768px) {
  #about .logo {
    background-position: right center;
  }
}
@media(max-width:768px) {
  #about .logo {
    display: none;
  }
}
