#ateliers {
  .heading {
    margin-bottom: 30px;
   }
  .media {
    margin-bottom: 30px;
  }
  .subtitle {
    font-family: 'myFont', Arial, sans-serif;//'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 200;
  }
  .strong {
    font-weight: 700;
    color: #333;

  }
}