section#interfacultaire {
  // background-color: $gray-900;
  // h2, p {
  //   color: white;
  // }
  // margin-top: 0;
  padding-top: 0;
  .faculties {
    margin-bottom: 15px;
  }
  // margin-bottom: 0;
  padding-bottom: 20px;
}