// Styling for the masthead

header.masthead {
  text-align: center;
  color: white;
  background: linear-gradient(
      rgba(219, 27, 68, 0.25), 
      // rgba(0÷, 0, 0, 0.25), 

      rgba(0, 0, 0, 0.15)),
      url('../img/header-bg-optimized.jpg');
  background-color: #000;
  // , url('../img/header-bg.jpg');
  // background-color: #000;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  min-height: 800px;
  .stay-posted {
    padding-top: 20px;
    // padding-top: 0;
    font-size: 20px;
    // font-weight: 700;
    p {
      // color: red;
      opacity: 0.75;
      @include heading-font;
      &.red {
        color: $primary;
      }
      &.emphasis {
        border: 1px solid #fff;
        width: 200px;
        text-align: center;
        display: inline-block;
      }
    }
    // padding-bottom: 50px;
  }
  .intro-text {
    padding-top: 75px;
    padding-bottom: 50px;
    .intro-subtitle {
        font-size: 25px;
        font-weight: 700;
        padding-bottom: 0;
        p {
          color: white;
          opacity: 0.9;
          font-family: 'myFont', Arial, sans-serif;//'Open Sans', 'Helvetica Neue', Arial, sans-serif;
          font-weight: 200;
          margin-bottom: 0;
          &.strong {
            font-weight: 700;            
          }
          // &.small {
          //   font-size: 20px;          
          // }
          &.overlay {
            background: $primary;
            font-weight: 500;
            margin-bottom: 50px;
            opacity: 1;
          }
        }
    }
  }
  .header-logo{
      display: block;
      background-position: center center;
      background-size: auto 100%;
      background-repeat: no-repeat;
      margin-bottom: 30px;      
    }
    #btn-inscription {
      margin-top: 20px;
    }
}
@media(max-width:768px) {
  .header-logo {
      background: url('../img/logo-square-medfam.png');
      min-height: 300px;
      max-height: 300px;
    }
  .intro-text p {
    font-size: 15px;
  }
}

@media(min-width:768px) {
  .header-logo {
      background: url('../img/logo-full-text-white-medfam.png');
      min-height: 250px;
      max-height: 250px;
  }
}


header.masthead .stay-posted {
  margin-top: 0;
}
