section#about
  .container
    .row
      .col-4
        .logo
        //- img(src="img/logo-white.png")
      .col-8.white-text
        h2.section-heading.text-uppercase À Propos du symposium
        p Le “Symposium des Populations Vulnérables” est un événement annuel interfacultaire (Udem, ULaval, USherbrooke, McGill) réunissant les étudiants et les professionnels de la santé. Cet évènement regroupe plusieurs ateliers et conférences permettant l’exploration des différents enjeux bio-psycho-sociaux des populations vulnérables québécoises.
