section#ateliers.bg-gray
  .container
    .row
      .col-lg-12.text-center.heading
        h2.section-heading.text-uppercase Ateliers
        p Vous avez l’option de choisir 3 ateliers parmi les suivants:
    .row
      .col
      .col-6
        .media
          .align-self-center.mr-3
            span.fa-stack.fa-2x.float-right
              .fa.fa-circle.fa-stack-2x.text-primary
              .fa.fa-gavel.fa-stack-1x.fa-inverse
          .media-body
            h4.align-middle Advocacy et Leadership 
            h6.align-middle.text-muted.subtitle.text-uppercase Organisé par: <span class="strong">Association Médicale Canadienne</span>
        .media
          .align-self-center.mr-3
            span.fa-stack.fa-2x.float-right
              .fa.fa-circle.fa-stack-2x.text-primary
              .fa.fa-flask.fa-stack-1x.fa-inverse
                //- flask
          .media-body
            h4.align-middle Toxicomanie et santé mentale 
            h6.align-middle.text-muted.subtitle.text-uppercase Organisé par: <span class="strong">Clinique Caméléon</span>
        .media
          .align-self-center.mr-3
            span.fa-stack.fa-2x.float-right
              .fa.fa-circle.fa-stack-2x.text-primary
              .fa.fa-comments.fa-stack-1x.fa-inverse
          .media-body
            h4.align-middle Barrière langagière
            h6.align-middle.text-muted.subtitle.text-uppercase Organisé par: <span class="strong">Amélie Bleau, orthophoniste</span>
        .media
          .align-self-center.mr-3
            span.fa-stack.fa-2x.float-right
              .fa.fa-circle.fa-stack-2x.text-primary
              .fa.fa-child.fa-stack-1x.fa-inverse
          .media-body
            h4.align-middle Pédopsychiatrie
            h6.align-middle.text-muted.subtitle.text-uppercase Organisé par: <span class="strong">Sherpa</span>
        .media
          .align-self-center.mr-3
            span.fa-stack.fa-2x.float-right
              .fa.fa-circle.fa-stack-2x.text-primary
              .fa.fa-medkit.fa-stack-1x.fa-inverse
          .media-body
            h4.align-middle Enjeux bio-psycho-sociaux
            h6.align-middle.text-muted.subtitle.text-uppercase Organisé par: <span class="strong">Médecins du Monde
      .col