section#contact.bg-primary
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase Contact
        p Pour toute question ou commentaire, n'hésitez pas à nous contacter!
    .row
      .col-6.text-center
        i.fa.fa-facebook-o.fa-3x.wow.bounceIn(data-wow-delay=".1s")
        p
          a(href="#") fb/NotrePageFacebook
      .col-6.text-center
        i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay=".1s")
        p
          a(href="mailto:{{contact.username}}") symposium.populations@gmail.com