section#contact
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase Contact
        p Pour toute question ou commentaire, n'hésitez pas à nous contacter!
    .row
      .col-md-6.col-12.text-center.social-link
        i.fa.fa-facebook.fa-3x.wow.bounceIn(data-wow-delay=".1s")
        p
          a(href="https://www.facebook.com/pg/Symposiumdespopulationsvulnerables/") Page Facebook
      .col-md-6.col-12.text-center.social-link
        i.fa.fa-envelope-o.fa-3x.wow.bounceIn(data-wow-delay=".1s")
        p
          a(href="mailto:symposium.populations@gmail.com") symposium.populations@gmail.com