header.masthead
  .container
    .intro-text
      //- .intro-lead-in Welcome To Our Studio!
      //- .intro-heading
        //- img(src="img/logos/small_spv.png")
      .row
        .col
        .col-6.logo
            //- img(src="img/logo-full-text.png")
        .col
      .row
        .col
        .col-6.intro-subtitle.text-uppercase 
            p.overlay Edition 2018 : Santé des Migrants
            p.strong Samedi 12 Mai 2018
            p.small Pavillon Jean-Coutu
            p.small Université de Montréal
        .col


      
      a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger(href="#inscription") Inscription