header.masthead
  .container
    .intro-text
      //- .intro-lead-in Welcome To Our Studio!
      //- .intro-heading
        //- img(src="img/logos/small_spv.png")
      .row
        .col-sm.col-xs-0
        .col-sm-8.col-xs-12
            .header-logo
            //- img(src="img/logo-full-text.png")
        .col-sm.col-xs-0
      .row
        .col-sm.col-xs-1.col
        .col-sm-6.intro-subtitle.text-uppercase.col-xs-10.col-8
            p.overlay Edition 2018 : Santé des Migrants
            p.strong Samedi 12 Mai 2018
            p.small Pavillon Jean-Coutu
            p.small Université de Montréal
        .col-sm.col-xs-1.col


      .row
        .col-sm-12
            a.btn.btn-primary.btn-xl.text-uppercase.js-scroll-trigger#btn-inscription(href="#inscription") Inscription