section#horaire.bg-primary
  .container
    .row
      .col-lg-12.text-center.heading
        h2.section-heading.text-uppercase Horaire
    .row
      .col-md
      .col-12.col-md-10
        .row
          .col-md-4.col-4
            p.time 10h30 - 11h00
          .col-md-8.col-8
            p.activity Accueil / Café 

          //- .col-md-1.col-62.text-center
          //-   p.spacer &nbsp;
        //- .row
        //-   .col-md-4.col-4
        //-   .col-md-8.col-8
        //-     p.subtitle Conférences
        .row
          .col-md-4.col-4
            p.time 11h00 - 12h00
          .col-md-8.col-8
            p.activity Conférence : <strong>Kim Thuy</strong>, écrivaine
        .row
          .col-md-4.col-4
            p.time 12h00 - 13h00 
          .col-md-8.col-8
            p.activity Conférence : <strong>Joe Belliveau</strong>, directeur exécutif de MSF Canada    
        
          //- .col-md-1.col-62.text-center
          //-   p.spacer &nbsp;
        .row
          .col-md-4.col-4
            p.time 13h00 - 14h00
          .col-md-8.col-8
            p.activity Dîner
        //- .row  
        //-   .col-md-1.col-62.text-center
        //-     p.spacer &nbsp;
        //- .row
        //-   .col-md-4.col-4
        //-   .col-md-8.col-8
        //-     p.subtitle Ateliers
        .row
          .col-md-4.col-4
            p.time 14h00 - 14h40
          .col-md-8.col-8
            p.activity Atelier 1
        .row
          .col-md-4.col-4
            p.time 14h50 - 15h30
          .col-md-8.col-8
            p.activity Atelier 2 
        .row
          .col-md-4.col-4
            p.time 15h40 - 16h20
          .col-md-8.col-8
            p.activity Atelier 3 
        
          //- .col-md-1.col-62.text-center
          //-   p.spacer &nbsp;
        .row
          .col-md-4.col-4
            p.time 16h20 -  16h30
          .col-md-8.col-8
            p.activity Mot de la fin
      .col-md