doctype html
html(lang="fr")

  head
    include meta.pug

    title Symposium des Populations Vulnérables

    include stylesheets.pug

  body#page-top
    include navbar.pug
    include header.pug
    include about.pug
    include atouts.pug
    include interfacultaire.pug
    include hashtag.pug
    include conferences.pug
    include ateliers.pug
    include horaire.pug
    include sponsors.pug
    include contact.pug

    //- include lieu.pug
    //- include inscription.pug



    <!-- Bootstrap core JavaScript -->
    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")

    <!-- Plugin JavaScript -->
    script(src="vendor/jquery-easing/jquery.easing.min.js")

    <!-- Contact form JavaScript -->
    script(src="js/jqBootstrapValidation.js")
    script(src="js/contact_me.js")

    <!-- Custom scripts for this template -->
    script(src="js/agency.min.js")