section#interfacultaire.bg-white
  .container
    //- .row
    //-   .col-lg-12.text-center
    //-     h2.section-heading.text-uppercase Conférenciers
    .row
      .col-4
        .row
          .col-6.text-right
            img(src="img/facultes/udem.png", class="rounded", alt="UdeM Logo", width="80px")
          .col-6.text-left
            img(src="img/facultes/ulaval.png", class="rounded", alt="ULaval Logo", width="80px")
        .row
          .col-6.text-right
            img(src="img/facultes/sherbrooke.png", class="rounded", alt="USherbrooke Logo", width="80px")
          .col-6.text-left
            img(src="img/facultes/mcgill.png", class="rounded", alt="McGill Logo", width="80px")
        //- img(src="img/logo-white.png")
      .col-8
        h5.section-heading.text-uppercase Évènement interfacultaire et interprogramme
        //- h3.text-muted Écrivaine, auteure et conférencière
        p Les étudiants de tous les domaines de la santé et de toutes les facultés du Québec (ULaval, McGill, UdeM et USherbrooke) sont les bienvenus.