
<!-- Navigation -->
nav#mainNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  .container
    a.navbar-brand.js-scroll-trigger(href="#page-top")
    button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation") Menu &nbsp;
      i.fa.fa-bars

    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.text-uppercase.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href="#about") À propos
        //- li.nav-item
        //-   a.nav-link.js-scroll-trigger(href="#atouts") Atouts
        li.nav-item
          a.nav-link.js-scroll-trigger(href="#conferences") Conférences
        li.nav-item
          a.nav-link.js-scroll-trigger(href="#ateliers") Ateliers
        li.nav-item
          a.nav-link.js-scroll-trigger(href="#horaire") Horaire
        li.nav-item
          a.nav-link.js-scroll-trigger(href="#sponsors") Partenaires
        li.nav-item
          a.nav-link.js-scroll-trigger(href="#contact") Contact