section#sponsors.bg-white
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading.text-uppercase Partenaires
        p Nous remercions les organisations suivantes pour leur soutien:
    .row
      .col-6.text-center
        img(src="img/sponsors/ifmsa-qc.jpg", class="rounded", alt="IFMSA Quebec", height="150px")
      .col-6.text-center
        img(src="img/sponsors/amq.png", class="rounded", alt="Association Médicale du Québec", height="150px")